<div class="w-full flex flex-col">
  <div>
    <%= link_to 'View all generated boards', boards_path, class: "rounded-lg py-3 px-5 bg-gray-200 inline-block font-medium" %>
    <%= link_to 'New board', root_path, class: "rounded-lg py-3 px-5 bg-green-600 text-white inline-block font-medium" %>
  </div>

  <div class="my-5">
    <h1 class="font-bold text-4xl">Recent boards</h1>
  </div>

  <div id="boards" class="overflow-auto">
    <% if @boards.length == 0 %>
      (No data available)
    <% else %>
      <% @boards.each do |board| %>
        <%= render partial: 'shared/board', locals: { board: board } %>
      <% end %>
    <% end %>
  </div>
</div>
